// 背景色
$bgColor: #fff;
$content-bgColor: #f1f1f1;
$search-bgColor: #f5f5f5;

// 文字颜色
$content-fontcolor: #333;
$medium-fontColor: #666;
$content-notice-fontcolor: #777;
$light-fontColor: #999;
$content-fontColor: #b7b7b7;
$dark-fontColor: #000;

// 强调色
$hight-fontColor: #e93b3b;

//按钮颜色
$btn-bgColor: #0091ff;
